@use "variables" as *;

.qr-container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: $radius-container;
  max-width: 340px;
  box-shadow: 10px 28px 39px 0px $light-gray;
  margin-bottom: 2rem;
  transition: scale 0.2s;

  &:hover {
    scale: 1.05;
  }

  .qr-code {
    .qr-img {
      max-width: 100%;
      border-radius: $radius-img;
    }
  }

  .qr-content {
    .title {
      color: $dark-blue;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 1.3rem;
      margin-bottom: 1rem;
    }

    .description {
      color: $grayish-blue;
      text-align: center;
      font-size: 15px;
      margin-bottom: 1.5rem;
    }
  }
}
